/*! main.css */

/* ==========================================================================
   General
   ========================================================================== */

a {
  color: #b6b6b6;
  outline: 0;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color: 0.2s ease-out;
}

a:visited {
  color: #b6b6b6;
}

a:active {
  color: #b6b6b6;
}

a:hover {
  color: #e4f5f4;
  text-decoration: none;
}

a:focus {
  /* Remove outline in Firefox and IE */
  outline: none;
}

p {
  line-height: 1.8;
}

.left {
  float: left;
}

.right {
  float: right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}

/* ==========================================================================
   Layout
   ========================================================================== */

body {
  margin: 0;
  background: #e7eff2 url(../img/backgrounds/blue_bg.png) repeat scroll 0 0;
  color: #555555;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  text-align: center; /* IE */
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

.section {
  height: 470px;
  overflow: hidden;
}

/* ==========================================================================
   Header
   ========================================================================== */

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #161210 none repeat scroll 0 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 400;
  opacity: 0.88;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav ul li {
  display: inline;
  padding: 0 14px 0 10px;
  border-right: 1px solid #2a2a2a;
  line-height: 3.6;
}

.nav ul li.last {
  border-right: 0;
}

.nav ul li a {
  display: inline-block;
  line-height: 3.6;
}

.nav a.icon {
  position: relative;
  padding-left: 28px;
}

.nav ul li a.icon span {
  position: absolute;
  left: 0;
  display: block;
  background: transparent url(../img/icons/small/nav_colored.png) no-repeat scroll 0 0;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opactiy .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.nav ul li a.locations span {
  top: 16px;
  width: 20px;
  height: 20px;
  background-position: -48px 0;
}

.nav ul li a.pricing span {
  top: 16px;
  width: 20px;
  height: 20px;
  background-position: -26px 0;
}

.nav ul li a.contact span {
  top: 16px;
  width: 20px;
  height: 16px;
}

.nav ul li a.icon:hover span {
  filter: alpha(opacity=100);
  opacity: 1;
}

.header {
  height: 400px;
  margin-top: 40px;
  background: #e7eff2 url(../img/backgrounds/blue_bg.png) repeat scroll 0 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

.header .logo-area {
  float: left;
  margin: 128px 0 0 44px;
}

.header .logo-area a {
  display: block;
  background: transparent url(../img/logos/logo.png) no-repeat scroll 0 0;
  color: #2f3c4f;
}

.header .logo-area a h1 {
  margin: 0 0 0 160px;
  font-size: 72px;
  font-weight: 300;
  line-height: 0.9;
}

.header .logo-area cite {
  display: block;
  margin: 0 0 0 160px;
  padding-left: 4px;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.header .mission-statement {
  float: right;
  margin: 100px 80px 0 0;
  width: 450px;
  color: #3d4e66;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1.8;
  text-align: right;
}

.header .mission-statement p {
  margin: 0;
  padding-right: 6px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.section .left {
  margin-left: 140px;
}

.section .right {
  margin-right: 180px;
}

.section .info-area {
  font-size: 15px;
  margin-top: 26px;
  width: 260px;
}

.section .info-area h2 {
  margin-bottom: 14px;
  font-size: 28px;
  line-height: 1.4;
}

.section .info-area div {
  font-size: 17px;
  font-style: italic;
}

.section-1 {
  background: #2f2f2f none repeat scroll 0 0;
  color: #cacaca;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.4);
}

.section-1 img {
  margin-top: 68px;
  padding-right: 24px;
}

.section-2 {
  background: #37a5e4 none repeat scroll 0 0;
  color: #1c1c1c;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.section-2 img {
  margin-top: 104px;
  padding-left: 28px;
}

.section-3 {
  background: #f6f2e7 none repeat scroll 0 0;
  color: #393939;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

.section-3 img {
  margin-top: 110px;
  padding-right: 26px;
}

.section-4 {
  background: #171717 none repeat scroll 0 0;
  color: #bbbbbb;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.6);
}

.section-4 img {
  margin-top: 80px;
  padding-left: 44px;
}

.section-5 {
  background: #72c0b0 none repeat scroll 0 0;
  color: #161616;
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
}

.section-5 img {
  margin-top: 98px;
  padding-right: 12px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  height: 290px;
  padding: 20px 0 30px;
  background: #171717 url(../img/backgrounds/gray_bg.jpg) repeat scroll 0 0;
  color: #b6b6b6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3);
}

.footer .footer-col {
  float: left;
  width: 250px;
  margin-left: 50px;
}

.footer h5 {
  margin: 26px 0 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #111;
  color: #b6b6b6;
  font-size: 16px;
  letter-spacing: 1px;
}

.footer cite {
  font-style: normal;
}

.footer ul {
  margin: 0;
  padding: 18px 0 0;
  border-top: 1px solid #333;
  list-style-type: none;
}

.footer li {
  line-height: 2.6;
}

.footer .special {
  margin: 0;
  padding-top: 18px;
  border-top: 1px solid #333;
}

.footer .backbonejs-icon, .footer .nodejs-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.footer .backbonejs-icon {
  background: transparent url(../img/icons/small/backbonejs.png) no-repeat scroll 0 0;
}

.footer .nodejs-icon {
  background: transparent url(../img/icons/small/nodejs.ico) no-repeat scroll 0 0;
}
